  <div id="wrapper">
    <header class="bodyshop intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Body Shop Profiles</h1>
                        <hr class="small">
<!--                         <span class="subheading">A Clean Blog Theme by Start Bootstrap</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr class="orangeline">
<!--     <div id="categories">
      <h1>Accessory|Community|Electronics|Insurance|Mechanic|Used Car</h1>
    </div> -->
    <div id="locationsmobile">
      <div class="row">
        <div class="col-xs-6">
          <h1><%= link_to "Toronto", torontos_path %></h1>
        </div>
        <div class="col-xs-6">
          <h1><%= link_to "Body Shops", body_shops_partners_path %></h1>
        </div>
      </div>
    </div>
        <div id="locations" class="col-md-6">
          <h2><%= link_to "Toronto", torontos_path %></h2>
        </div>
        <div id="locations" class="col-md-6">
          <h2><%= link_to "Body Shops", body_shops_partners_path %></h2>
        </div>
                <div id="my_list" class="row">
                  <%= render "shop" %>
                </div>
    <!--             <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/images/sam3_rgt.jpg">
                    <div class="caption">
                      <h1>|Comming Up</h1>
                      <p>If you want post your Business here,<br>Please Contact Us<br>[info@MOCAestimator.com]</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>