 <div id="wrapper">
<!--     <div id="video" class="container">    
        <p>Looking for <font color="#EF5F2B">Auto Body Shops</font><br> in <font color="#3393C8">Metro Vancouver/Toronto?</font><br><br>Send 4 PHOTOS & Get 5 QUOTES to Compare</p>
    </div> -->
  <iframe id="main-video" class="video-js" src="https://www.youtube.com/embed/8TCbBdSEm4g?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" loop="true" muted autoplay preload="auto" width="100%" height="50%"
      poster="<%= asset_path("img1dark.png") %>" frameborder="0" allowfullscreen data-setup="{}"></iframe>
    <div id="mobileonlytext" class="container">
      <div>
        <a><h1>GET <font color="#EF5F2B">QUOTES</font> TODAY!</font></h1></a> 
        <h1><font color="#EF5F2B">COMPARE</font> PRICES, SERVICES & LOCATIONS</h1>
      </div>
    </div>
    <div id="desktoptext" class="container">
      <div id="infotitle">
        <h1><font color="#EF5F2B">What is <font color="#3393C8">MOCA</font> Estimator?</font></h1>
      </div>
      <div>
        <p style="font-size: 20px;">MOCA Auto Body Estimator connects drivers to auto body shops with high quality service in Metro Vancouver and Greater Toronto Area. MOCA alleviates the stress and hassle that was recognized when drivers need to repair their cars.</p>
      </div>
      <div id="locations">
        <p style="font-size: 20px;">:: Service Area: Vancouver, North Vancouver, Burnaby, Richmond, Coquitlam, Port Coquitlam, New Westminster, Surrey, & Langley</p>
      </div>
      <div id="infobox" class="row">
        <div class="col-xs-5 col-md-2 imagethumbnail">
          <h3 class="infosteps">Step 1</h3>
          <img src="<%= asset_path("cam.png") %>" alt="Camera Icon"/>
          <h3>Take 4 Photos</h3>
        </div>
        <div class="col-xs-6 col-md-2 imagethumbnail">
          <h3 class="infosteps">Step 2</h3>
          <img src="<%= asset_path("mail.png") %>" alt="Email Icon"/>
          <h3>Send Us Photos</h3>
        </div>
        <div class="col-xs-6 col-md-2 imagethumbnail">
          <h3 class="infosteps">Step 3</h3>
          <img src="<%= asset_path("quotes.png") %>" alt="Quotes Icon"/>
          <h3>Receive <br>3-5 Quotes</h3>
        </div>
        <div class="col-xs-6 col-md-2 imagethumbnail">
          <h3 class="infosteps">Step 4</h3>
          <img src="<%= asset_path("car.png") %>" alt="Car Icon"/>
          <h3>Select & Fix</h3>
        </div>
      </div>
    </div>
    <div id="steps" class="container">
      <div id="title" class="row col-md-12">
        <div id="stepimage" class="col-xs-4 col-md-1">
          <img class="step" src="<%= asset_path("cam.png") %>" alt="Camera Icon"/>
        </div>
        <div class="col-xs-8 col-md-4">
          <h2><font style="color:rgb(239, 95, 43);">STEP 1</font><br><font style="font-weight: bold;">Take 4 Photos of the Damage</font><br><font style="color:rgb(128, 128, 128);">Front,Left, & Right</font></h2>
        </div>
      </div>
      <div id="phototitle">
        <h1>SAMPLE PHOTOS</h1>
      </div>
      <div id="samplephoto" class="row">
        <div class="col-md-3 col-xs-6">
          <h3>Front Angle</h3>
          <img src="<%= asset_path("sam1_fnt.jpg") %>" alt="Example Photo One">
        </div>
        <div class="col-md-3 col-xs-6">
          <h3>5 Feet Away</h3>
          <img src="<%= asset_path("far_away.jpg") %>" alt="Example Photo Four">
        </div>
        <div class="col-md-3 col-xs-6">
          <h3>Left Angle</h3>
          <img src="<%= asset_path("sam2_lft.jpg") %>" alt="Example Photo Two">
        </div>
        <div class="col-md-3 col-xs-6">
          <h3>Right Angle</h3>
          <img src="<%= asset_path("sam3_rgt.jpg") %>" alt="Example Photo Three">
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div id="title2" class="row col-md-12">
        <div id="stepimage" class="col-xs-4 col-md-1">
          <img class="step" src="<%= asset_path("mail.png") %>" alt="Email Icon"/>
        </div>
        <div class="col-xs-7 col-md-3">
          <h2><font style="color:rgb(239, 95, 43);">STEP 2</font><br>Upload Photos<br><font style="color:rgb(128, 128, 128);">Contact Info</font></h2>
        </div>
      </div>
      <div id="forminfo" class="row">
        <div class="col-md-1">
        </div>
        <div class="col-xs-12 col-md-7">
          <h4>or Email the photos to info@mocaestimator.com</h4>
        </div>
      </div>
      <div id="form" class="container">
        <div class="row">
          <form class="form-horizontal col-md-16">
            <div class="form-group">
              <label for="inputName" class="col-sm-2 control-label">NAME:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputName" placeholder="Name">
              </div>
            </div>
            <div id="nameForm">
              <p></p>
            </div>
            <div class="form-group">
              <label for="inputCarMake" class="col-sm-2 control-label">CAR MAKE:</label>
              <div  class="col-sm-9">
               <input type="text" class="form-control" id="inputCarMake" placeholder="Car Make">
              </div>
            </div>
            <div id="carMakeForm">
              <p></p>
            </div>
            <div class="form-group">
              <label for="inputCarModel" class="col-sm-2 control-label">CAR MODEL:</label>
              <div class="col-sm-9">
               <input type="text" class="form-control" id="inputCarModel" placeholder="Car Model">
              </div>
            </div>
            <div id="carModelForm">
              <p></p>
            </div>
            <div class="form-group">
              <label for="inputCarYear" class="col-sm-2 control-label">CAR YEAR:</label>
              <div class="col-sm-9">
               <input type="text" class="form-control" id="inputCarYear" placeholder="Car Year">
              </div>
            </div>
            <div id="carYearForm">
              <p></p>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-sm-2 control-label">EMAIL:</label>
              <div  class="col-sm-9">
               <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div id="emailForm">
              <p></p>
            </div>
            <div class="form-group">
              <label for="inputAddress" class="col-sm-2 control-label">ADDRESS:</label>
              <div class="col-sm-9">
               <input type="text" class="form-control" id="inputAddress" placeholder="Address">
              </div>
            </div>
            <div id="addressForm">
              <p></p>
            </div>
            <div class="form-group">
              <label for="inputPhoneNumber" class="col-sm-2 control-label">PHONE NUMBER:</label>
              <div class="col-sm-9">
               <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
              </div>
            </div>
            <div id="phoneNumberForm">
              <p></p>
            </div>
            <div class="form-group">
              <label for="inputVinNumber" class="col-sm-2 control-label">VIN NUMBER</label>
              <div class="col-sm-9">
               <input type="text" class="form-control" id="inputVinNumber" placeholder="VIN Number">
              </div>
            </div>
            <div id="vinNumberForm">
              <p></p>
            </div>
            <div id="memoForm" class="form-group">
              <label for="inputMemo" class="col-sm-2 control-label">MEMO:</label>
              <div class="col-sm-9">
               <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Additional Info">
              </div>
              <p></p>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
              </div>
            </div>
            <div id="photoupload" class="row">
              <div class="col-md-3">
                <div class="caption">
                  <label class="btn btn-default btn-file"><h3>Click Here To Upload <br>Front Angle Photo</h3><input type="file" style="display: none;">
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="caption">
                  <label class="btn btn-default btn-file"><h3>Click Here To Upload <br>Left Angle Photo</h3><input type="file" style="display: none;">
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="caption">
                  <label class="btn btn-default btn-file"><h3>Click Here To Upload <br>Right Angle Photo</h3><input type="file" style="display: none;">
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="caption">
                  <label class="btn btn-default btn-file"><h3>Click Here To Upload <br>Far Away Photo</h3><input type="file" style="display: none;">
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="tehbutton">
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div id="uploadinfo">
        <p>*Uploading may take up to 60 seconds. Please do not refresh.</p>
      </div>
      <div id="title3" class="row col-md-12">
        <div id="stepimage" class="col-xs-4 col-md-1">
          <img class="step" src="<%= asset_path("quotes.png") %>" alt="Quotes Icon"/>
        </div>
        <div id="step3text" class="col-xs-8 col-md-3">
          <h2><font style="color:rgb(239, 95, 43);">STEP 3</font><br><font style="font-weight: bold;">Receive 3-5 Quotes</font><br><font style="color:rgb(128, 128, 128);">From Different<br> Auto Body Shops</font></h2>
        </div>
      </div>
      <div id="steps3" class="row">
        <div class="col-xs-16 col-md-12">
          <h2>You will receive 3-5 estimates from different auto body shops <font color="#EF5F2B">QUOTES</font> TODAY!</font><br><br>
          <font color="#EF5F2B">COMPARE</font> PRICES, SERVICES & LOCATIONS</h2>
        </div>
      </div>
      <div id="title4" class="row col-md-12">
        <div id="stepimage" class="col-xs-4 col-md-1">
          <img class="step" src="<%= asset_path("car.png") %>" alt="Car Icon"/>
        </div>
        <div id="step4text" class="col-xs-8 col-md-3">
          <h2><font style="color:rgb(239, 95, 43);">STEP 4</font><br><font style="font-weight: bold;">Select One Shop</font><br><font style="color:rgb(128, 128, 128);">& Fix Your Car</font></h2>
        </div>
      </div>
      <div id="steps4" class="row">
        <div class="col-xs-16 col-md-12">
          <h2>After reviewing estimates, feel free to contact <br><br>your <font color="#EF5F2B">preferred body shop</font> to make an appointment</font></h2>
        </div>
      </div>
    </div>
  </div>
  <div id="mobiletext" class="container">
    <div id="infotitle">
      <h1><font color="#EF5F2B">What is <font color="#3393C8">MOCA</font> Estimator?</font></h1>
    </div>
    <div>
      <p style="font-size: 20px;">MOCA (Mobile Car Auto Body Estimator) connects people with ICBC Accredited Auto Body Shops with high quality service in Metro Vancouver. MOCA alleviates the stress and hassle that was recognized when people need to repair their cars. </p>
    </div>
    <div id="locations">
      <p style="font-size: 20px;">:: Service Area: Vancouver, North Vancouver, Burnaby, Richmond, Coquitlam, Port Coquitlam, New Westminster, Surrey, & Langley</p>
    </div>
    <div id="infobox" class="row">
      <div class="col-xs-6 col-md-3 imagethumbnail">
        <h3 class="infosteps">Step 1</h3>
        <img src="<%= asset_path("cam.png") %>" alt="Camera Icon"/>
        <h3>Photos</h3>
      </div>
      <div class="col-xs-6 col-md-3 imagethumbnail">
        <h3 class="infosteps">Step 2</h3>
        <img src="<%= asset_path("mail.png") %>" alt="Email Icon"/>
        <h3>Send Us</h3>
      </div>
      <div class="col-xs-6 col-md-3 imagethumbnail">
        <h3 class="infosteps">Step 3</h3>
        <img src="<%= asset_path("quotes.png") %>" alt="Quotes Icon"/>
        <h3>Receive Quotes</h3>
      </div>
      <div class="col-xs-6 col-md-3 imagethumbnail">
        <h3 class="infosteps">Step 4</h3>
        <img src="<%= asset_path("car.png") %>" alt="Car Icon"/>
        <h3>Select and Fix Your Car</h3>
      </div>
    </div>
  </div>