  <div id="wrapper">
    <header class="bodyshop intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Body Shop Profiles</h1>
                        <hr class="small">
<!--                         <span class="subheading">A Clean Blog Theme by Start Bootstrap</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr class="orangeline">
<!--     <div id="categories">
      <h1>Accessory|Community|Electronics|Insurance|Mechanic|Used Car</h1>
    </div> -->
    <div id="locationsmobile">
      <div class="row">
        <div class="col-xs-5">
          <h1>Toronto</h1>
        </div>
        <div class="col-xs-5">
          <h1>Vancouver</h1>
        </div>
      </div>

    </div>
    <div id="shopsearch">
      <div class="form-group">
        <label for="bodyShop" class="col-sm-2 control-label"></label>
        <div class="col-sm-12">
          <input type="bodyshop" class="form-control" id="bodyShop" placeholder="Search Body Shop">
        </div>
      </div>
    </div>
    <div id="fullpartners" class="row">
        <div id="locations" class="col-md-4">
          <h2>Toronto</h2>
          <h2>Vancouver</h2>
        </div>
        <div id="shops" class="col-md-8">
          <div id="partners" class="container">
            <div class="partnersbox">
    <!--           <h1>Accessory</h1> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="thumbnail">
                    <a href="individualpartnerspage.html"><img src="<%= asset_path("sam1_fnt.jpg") %>"></a>
                    <div class="caption">
                      <h1>|RPM Electronics</h1>
                      <p>www.Rpmelectronics.com<br>778-899-3123<br>1123Boundery Rd, Burnaby</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <a href="individualpartnerspage.html"><img src="<%= asset_path("sam2_lft.jpg") %>"></a>
                    <div class="caption">
                      <h1>|Comming Up</h1>
                      <p>If you want post your Business here,<br>Please Contact Us<br>[info@MOCAestimator.com]</p>
                    </div>
                  </div>
                </div>
    <!--             <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/images/sam3_rgt.jpg">
                    <div class="caption">
                      <h1>|Comming Up</h1>
                      <p>If you want post your Business here,<br>Please Contact Us<br>[info@MOCAestimator.com]</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div id="partners" class="container">
            <div class="partnersbox">
    <!--         <h1>Electronics</h1> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="thumbnail">
                    <a href="individualpartnerspage.html"><img src="<%= asset_path("sam1_fnt.jpg") %>"></a>
                    <div class="caption">
                      <h1>|RPM Electronics</h1>
                      <p>www.Rpmelectronics.com<br>778-899-3123<br>1123Boundery Rd, Burnaby</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <a href="individualpartnerspage.html"><img src="<%= asset_path("sam2_lft.jpg") %>"></a>
                    <div class="caption">
                      <h1>|Comming Up</h1>
                      <p>If you want post your Business here,<br>Please Contact Us<br>[info@MOCAestimator.com]</p>
                    </div>
                  </div>
                </div>
    <!--             <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/images/sam3_rgt.jpg">
                    <div class="caption">
                      <h1>|Comming Up</h1>
                      <p>If you want post your Business here,<br>Please Contact Us<br>[info@MOCAestimator.com]</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div id="partners" class="container">
            <div class="partnersbox">
    <!--           <h1>Mechanic</h1> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="thumbnail">
                    <a href="individualpartnerspage.html"><img src="<%= asset_path("sam1_fnt.jpg") %>"></a>
                    <div class="caption">
                      <h1>|RPM Electronics</h1>
                      <p>www.Rpmelectronics.com<br>778-899-3123<br>1123Boundery Rd, Burnaby</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <a href="individualpartnerspage.html"><img src="<%= asset_path("sam2_lft.jpg") %>"></a>
                    <div class="caption">
                      <h1>|Comming Up</h1>
                      <p>If you want post your Business here,<br>Please Contact Us<br>[info@MOCAestimator.com]</p>
                    </div>
                  </div>
                </div>
    <!--             <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/images/sam3_rgt.jpg">
                    <div class="caption">
                      <h1>|Comming Up</h1>
                      <p>If you want post your Business here,<br>Please Contact Us<br>[info@MOCAestimator.com]</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>