  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div id="navheader" class="container-fluid">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#"><img id="logo" src="<%= asset_path("logo-1.png") %>" alt="Logo of Website"><%= link_to "", root_path %></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="navoptions"><%= link_to "About Us", body_shops_about_us_path %></li>
          <li class="navoptions"><a href="#title2">Get Free Quotes</a></li>
          <li class="navoptions"><a href="#footer">Contact</a></li>
          <li class="navoptions"><%= link_to "Blogs", body_shops_blog_path %></li>
          <li class="navoptions"><%= link_to "Partners", body_shops_partner_path %></li>
          <li class="navoptions"><a href="https://www.facebook.com/mocaestimator/?fref=ts"><img src="<%= asset_path("fbbtn.png") %>" alt="Facebook Icon"></a></li>
          <li class="navoptions"><a href="https://plus.google.com/114693879745430004744"><img src="<%= asset_path("glebtn.png") %>" alt="Google Plus Icon"></a></li>
        </ul>
      </div>
    </div>  
  </nav>